<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Бронирование урока</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/icons/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/icons/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/icons/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/icons/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/icons/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/icons/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/icons/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/icons/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/icons/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/icons/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/icons/favicon/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
     id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Бронирование урока</h1>
                <a th:href="@{/}">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="" th:method="POST" th:action="@{/applications/new}" th:object="${application}">

                    <small class="text-body-secondary">Инструменты</small>
                    <div class="form-floating mb-3">
                        <select th:field="*{instrumentType}" class="form-control rounded-3 teacher-radio"
                                id="instrument">
                            <option th:each="instrument:${instruments}" th:value="${instrument}"
                                    th:text="${instrument.name().toLowerCase()}"></option>
                        </select>
                        <label for="instrument">Инструмент</label>
                    </div>
                    <input th:if="${role.equals('ROLE_USER')}" th:field="*{userId}" type="hidden">
                    <small class="text-body-secondary" th:if="${role.equals('ROLE_ADMIN')}">Пользователи</small>
                    <div th:if="${role.equals('ROLE_ADMIN')}" class="form-floating mb-3">
                        <select th:field="*{userId}" class="form-control rounded-3 teacher-radio" id="userId">
                            <option th:each="user:${users}" th:value="${user.getId()}"
                                    th:text="${user.getId()+': '+user.getSecondName()+' '+user.getFirstName()+', '+user.getAge()}"></option>
                        </select>
                        <label for="userId">User</label>
                    </div>
                    <p class="text-body-secondary" th:if="${slots.isEmpty()}">К сожалению сейчас нет слотов для
                        выбора </p>
                    <small class="text-body-secondary" th:if="${!slots.isEmpty()}">Слоты</small>
                    <div class="form-floating mb-3" th:if="${!slots.isEmpty()}">
                        <select th:field="*{slotId}" class="form-control rounded-3 teacher-radio" id="slot">
                            <option th:each="slot:${slots}" th:value="${slot.id}"
                                    th:text="${slot.getStartTime() +' - '+slot.getEndTime() + ' ,'+ slot.getDate()}"></option>
                        </select>
                        <label for="slot">Слот</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" th:if="${slots.isEmpty()}" type="button"
                            onclick="location.href='/'">Вернуться на главную
                    </button>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" th:if="${!slots.isEmpty()}"
                            type="submit">Забронировать
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>